table{
    border-collapse: separate;
}
/*Diglog */
.arow-down-line2, .search-icon, .delete-icon:hover {
    cursor: pointer;
}
/*.search-icon:hover{
    cursor: pointer;
}*/

.area-hide {
    display: none;
}

/* icon arow down */
.iconrButtonDown:before {
    content: url('../../Contents/images/arrow-down-line.png');
}

.iconrButtonDown:hover{
    cursor:pointer;
}

#select-rbutton{
    width: 151px;
    height: auto;
    top: 77px;
    right: 360px;
    overflow-y: auto;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
}

#select-rbutton div{
    padding:5px;
}

#arow-down-person {
    width: 500px;
    height: 290px;
    top: 151px;
    left: 128px;
    overflow-y: auto;
    /*background-color: #ccc;*/
    position: absolute;
    z-index: 1000;
}

    #arow-down-person .icon-arow-down > div {
        display: grid;
        grid-template-columns: 25% 45% 30%;
   
    }

#arow-down-sku {
    width: 300px;
    height: 290px;
    /*bottom: 90px;*/
    left: 9px;
    overflow-y: auto;
    /*background-color: #ccc;*/
    position: absolute;
    z-index: 1000;
}

    #arow-down-sku .icon-arow-down > div {
        display: grid;
        grid-template-columns: 30% 70%;
    }

.arow-down .icon-arow-down > div {
    background-color: #ffffff;
}

.arow-down .icon-arow-down .row-ligh > div{
    padding-left: 6px;
    /*overflow-x:visible;*/
}

.arow-down .icon-arow-down .arrow-header {
    background-color: #f1f1f1;
}

.arow-down .icon-arow-down > div > div {
    border: 1px solid #d0d0d0;
    height: 31px;
    line-height: 31px;
}

.arow-down .icon-arow-down > .arrow-header > div {
    text-align: center;
}

.arow-down .icon-arow-down .row-ligh:hover {
    background-color: #026b97;
    color: #ffffff;
    cursor: pointer;
}

.arrow-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
/*end icon arrow*/

/* start icon search */
.search-contents {
    width: 100%;
    height: 410px;
    margin-bottom: 4px;
}
    /* start filter */
    .search-contents .search-filter {
        width: 100%;
        height: 50px;
        /* border: 1px solid #e1e1e1; */
        display: flex;
        line-height: 50px;
    }

        .search-contents .search-filter div > select {
            width: 150px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }

        .search-contents .search-filter div > input {
            width: 370px;
            height: 35px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            padding: 4px;
        }

        .search-contents .search-filter .btn-search {
            width: 120px;
            height: 34px;
            line-height: 34px;
            color: #026b97;
            border: 1px solid #026b97;
            border-radius: .25rem;
            text-align: center;
        }

            .search-contents .search-filter .btn-search:hover {
                color: #5897ce;
                cursor: pointer;
            }


    /* start table next page */
    .search-contents .table-next-page {
        margin:auto;
        width: 98%;
        height: 355px;
        border: 1px solid #e1e1e1;
    }

        .search-contents .table-next-page .table-filter {
            width: 100%;
            height: 305px;
            overflow-y: auto;
        }
        /* .search-contents .table-next-page .table-filter  */

        .search-contents .table-next-page .filter-next-page {
            width: 100%;
            height: 50px;
            border-top: 1px solid #e1e1e1;
        }

/* start footer */
.icon-search .search-footer {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 5px;
    border-top: 1px solid #e1e1e1;
    justify-content: flex-end;
}
/*create::after NNLam 23/05*/
/*icon ?*/
.iconQuestion {
    background-image: url('../../Contents/icons/icon-popup.png');
    position: relative;
    background-repeat: no-repeat;
    background-position: -165px 3px;
    width: 51px;
    height: 44px;
    left: 11px;
}
/*css dialog notifi*/
.conten-dialog-notifi {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

.conntent-notifi {
    position: absolute;
    width: 100%;
    display: block;
    text-align: left;
    left: 80px;
    right: 10px;
    padding: 3px;
    width: 80%;
    height: 34px;
}

.agree {
    width: 90px;
    padding: 10px;
    background-color: #026b97;
    color: #ffffff;
    text-align: center;
}

.cancel {
    width: 90px;
    padding: 10px;
    color: #026b97;
    margin-left: 2px;
    text-align: center;
    border: 1px solid #ffffff;
}

.agree:hover {
    background-color: #5897ce;
    cursor: pointer;
}

.cancel:hover {
    border: 1px solid #026b97 !important;
    cursor: pointer;
}

/* end icon search */
.input-container i:hover {
    cursor: pointer;
}

/*#icon-timer */
#icon-timer {
    width: 151px;
    height: 70px;
    top: 230px;
    right: 9px;
    overflow-y: auto;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
}

#icon-timer > div{
    padding: 5px;
}

.ligh-timer:hover {
    background-color: #026b97;
    color: #ffffff;
    cursor: pointer;
}

/*tab detail*/
tbody span.col-numbers {
    float: left;
    width: 70%;
    padding-top: 5px;
}

tbody input.col-numbers {
    width: 65px;
    border: none;
    text-align: center;
    margin-top: 4px;
}

tbody .icon-up-down {
    float: right;
}

    tbody .icon-up-down i {
        display: block;
    }

tbody i:hover {
    cursor: pointer;
}

tbody i:active {
    color: red;
}

/*end table detail*/

/*start diglog icon search*/

/*table*/
/*kyls create 18/05/2019*/
tbody tr:hover {
    background-color: #d5e8e8 !important;
}

.table-container table thead tr th > div:first-child {
    padding: 7px 10px 8px;
    border-bottom: 1px solid #e9e9e9;
}

table td.text-center {
    text-align: center;
}

table td.text-left {
    text-align: left;
}

table td.text-right {
    text-align: right;
}

/*mouse right click*/
#right-mouse {
    position: absolute;
    width: 115px;
    height: 182px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    z-index: 10000;
    display: block;
}

    #right-mouse > div {
        height: 30px;
        line-height: 30px;
    }

/* #right-mouse{
    top: 0;
    left: 930px;
} */
/*up-down quatity*/
#table-add-detail span.col-numbers {
    width: 80%;
    text-align: center;
}

#table-add-detail span.icon-up-down {
    width: 20%;
    text-align: right;
}

/*end*/

/*previous & next page*/
.option-left span.arrow-icon:hover:not(.disable), .option-left span.load-data-icon:hover {
    border: 2px solid #4c5052;
    cursor: pointer;
}
/*end*/

/*kyls add css 27/5/2019*/
/*border-red for validate of form*/
.border-red{
    border: 1px solid red !important;
}


th, td{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-ligh div{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-widget-overlay {
    background: #000;
    opacity: 0.5;
}
/*table detail dialog*/
 table#table-add-detail {
	width:100%;
    border: 1px solid #d0d0d0;
}
/* th, td {
  
  border:1px solid #000;
} */
 #table-add-detail th, #table-add-detail td {
  border-collapse: collapse;
  padding:5px;
}

#table-add-detail thead, #table-add-detail tfoot {
	background:#f9f9f9;
	display:table;
	width:100%;
}
#table-add-detail tbody {
	height:183px;
	overflow-y:auto;
	display:block;
	width:100%;
}
#table-add-detail tbody tr {
	display:table;
	width:100%;
	/* table-layout:fixed; */
    height: 37px;
}


#table-add-detail td:nth-child(1){width:15%;}
#table-add-detail td:nth-child(2){width:25%;}
#table-add-detail td:nth-child(3){width:15%;}
#table-add-detail td:nth-child(4){width:10%;}
#table-add-detail td:nth-child(5){width:9%;}
#table-add-detail td:nth-child(6){width:11%;}
#table-add-detail td:nth-child(7){width:12%;}
#table-add-detail td:nth-child(8){width:3%;}

/*phan dialog*/
/*CSS cho phần dialog*/
.ui-dialog {
    padding: 0;
}

    .ui-dialog .ui-dialog-content {
        padding: 0;
    }

    .ui-dialog .ui-dialog-buttonpane {
        padding: 8px;
    }

        .ui-dialog .ui-dialog-buttonpane button {
            margin: 0;
        }

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    display: none !important;
}

.ui-dialog-buttonset .one-button:not(:last-child) {
    margin-right: 3px;
}

.ui-dialog-buttonset .one-button.help {
    padding: 7px 0;
    border: none;
    left: 8px;
}

.ui-container {
    width: 100%;
    padding: 8px;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}
/*CSS form thêm phiếu nhập kho điều chuyển */
.row-container:not(:last-child) {
    margin-bottom: 10px;
}

.purpose-select div:first-child {
    margin-right: 35px;
}

.selectVoucher {
    margin-left: 10px;
    border: 2px solid #026b97 !important;
    border-radius: 3px;
    color: #026b97 !important;
    padding: 7px 10px 6px;
    cursor: pointer;
    visibility: hidden;
    user-select: none;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px 0;
    line-height: 24px;
}

.row-container .information {
    min-width: 70%;
    border-right: 2px solid #ccc;
    padding-right: 10px;
}

.row-container .voucher {
    min-width: 30%;
    padding-left: 10px;
}

.information-row {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

    .information-row .label {
        min-width: 120px;
        padding-left: 15px;
    }

    .information-row .labelAuto {
        width: auto;
        padding-left: 15px;
    }

    .information-row .input-container {
        position: relative;
        border: 1px solid #d0d0d0;
        display: flex;
        align-items: center;
        border-radius: 2px;
        width: calc(100% - 120px);
    }

        .information-row .input-container.w-50 {
            width: 50%;
        }

            .information-row .input-container.w-50:not(:last-child) {
                margin-right: 5px;
            }

        .information-row .input-container.w-30 {
            width: 30%;
            margin-left: 15px;
            margin-right: 15px;
        }

        .information-row .input-container input {
            width: 100%;
            padding: 7px 8px 6px;
            border: none;
            outline: none;
            line-height: 1.5em;
        }

        .information-row .input-container .search-icon {
            min-width: 16px;
            height: 16px;
            background-image: url('../../Contents/Images/common-icon.png');
            background-repeat: no-repeat;
            background-position: -352px -2px;
            margin: 0 3px;
        }
/*CSS cho menu chọn thời gian*/
.time-container {
    position: absolute;
    width: 100px;
    height: 300px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #ccc;
    top: 35px;
    left: 40px;
    z-index: 999;
    overflow: hidden auto;
    padding: 1px;
}

    .time-container .time-item {
        color: #000;
        padding: 3px 5px;
        cursor: pointer;
        user-select: none;
    }

        .time-container .time-item:hover {
            color: #fff;
            background-color: #0088c2;
        }

.table-form-detail {
    height: 250px;
    overflow: hidden auto;
}

    .table-form-detail table {
        height: 100%;
    }

        .table-form-detail table tbody tr:nth-child(even) {
            background-color: #fff;
        }

        .table-form-detail table tbody tr.product {
            max-height: 28px;
        }


        .table-form-detail table tr td:first-child {
            text-align: left;
        }

        .table-form-detail table input {
            line-height: 20px;
            width: 80px;
        }

        .table-form-detail table tfoot {
            font-weight: bold;
        }

#dialogform .ui-container {
    height: calc(100% - 36px);
}
/*CSS cho các dialog chọn*/
.dialog-select .input-container {
    border: 1px solid #ccc;
}

    .dialog-select .input-container input {
        padding: 5px 10px;
        border: none;
        width: 100%;
    }

.dialog-select .search-object {
    justify-content: center;
    color: #026b97;
    border-color: #026b97;
}

.dialog-select table tbody tr.paging-row td {
    padding: 0 !important;
}

.dialog-select table tbody tr {
    background-color: #fff;
}


.dialog-select .show-option {
    border: 1px solid #ccc;
}
/*CSS cho dialog chọn chứng từ*/
#dialgoSelectVoucher .ui-container {
    height: calc(100% - 45px);
}

#dialgoSelectVoucher table#table-select-voucher {
    height: 100%;
}

    #dialgoSelectVoucher table#table-select-voucher tr.store-select td {
        height: 35px;
    }
/*CSS cho dialog chọn đối tượng*/
#dialogSelectObject .input-container {
    flex-basis: 250px;
}

#dialogSelectObject select {
    flex-basis: 120px;
}

#dialogSelectObject table {
    height: calc(100% - 70px);
}


    #dialogSelectObject table tbody tr.object-select td {
        height: 35px;
    }

#dialogSelectObject .show-option {
    border: 1px solid #ccc;
}

/*CSS chung cho dialog hàng hóa*/
.dialogProduct .table {
    height: calc(100% - 90px);
    overflow: hidden auto;
    margin: 0;
}

    .dialogProduct .table > table {
        height: 100%;
    }

.dialogProduct table .row-template {
    height: 100%;
}

.dialogProduct select {
    flex-basis: 200px;
}

.dialogProduct .input-container {
    flex-basis: 400px
}

.dialogProduct table tr.row-product {
    height: 40px;
}

.dialogProduct .select-status {
    border-color: none;
    font-weight: 500;
    height: 20px !important;
}

.dialogProduct table tr td .number-child {
    min-width: 20px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    background-color: #808080;
    margin-left: 15px;
    border-radius: 2px;
}

.dialogProduct table tr.product-child td:first-child {
    padding-left: 40px;
}
/*CSS dialog chọn hàng hóa*/
#dialogSelectProduct .select-status {
    color: #026b97;
}
/*phần table child*/
.row-child-container > td {
    border: none !important;
    padding: 0 !important;
    margin: 0;
}
/*CSS dialog xem hàng hóa đã chọn*/
#dialogConfirmProduct .table {
    height: calc(100% - 54px)
}

#dialogConfirmProduct .icon-minus {
    margin-right: 5px;
}

#dialogConfirmProduct .icon-plus {
    margin-right: 5px;
}

.arow-down-line2 {
    min-width: 10px;
    height: 5px;
    background-image: url(../../Contents/Images/arrow-down-line.png);
    background-repeat: no-repeat
}
/*css phần số phiếu thu/chi*/
.voucherNumber {
    margin-top: 1px;
}

    .voucherNumber input[name = "inpVoucherNumber"]:checked {
        color: #026b97;
    }

.filterDataOfDialog {
    width: 100%;
    height: 45px !important;
    padding: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

/*end dialog*/


/*loading data table*/
.outwardloading {
    position:absolute;
    background-image: url('../../Contents/images/loading.gif');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 44%;
}

/*dialog warning delete*/
#warning-delete-dialog .warning-content .icon-warning {
    background: url('../../Contents/icons/icon-popup.png') no-repeat -232px -1px;
    width: 70px;
    height: 70px;
    background-size: 300px;
   
}
#warning-delete-dialog .warning-foot{
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    height: 50px;
}

#warning-delete-dialog .warning-content{
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
}

    #warning-delete-dialog .warning-content > div:nth-child(1){
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #026b97;
    }

    #warning-delete-dialog .warning-content > div:nth-child(2) {
        width: 70%;
        display: flex;
        align-items: center;
        font-size: larger;
    } 

/*edit popup right mouse click*/
#right-mouse .toolbar-item{
    color: black;
    width:100%;
    border-right: none; 
    justify-content: left;
    border: 1px solid #ffffff;
}

#right-mouse .btn-add{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -153px -178px;
}

#right-mouse .btn-duplicate{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -53px -178px;
}

#right-mouse .btn-view{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -1651px -127px;
}

#right-mouse .btn-edit{
     background: url(../../Contents/Icons/common-icon.png) no-repeat -78px -178px;
}

#right-mouse .btn-delete{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -103px -178px;
}

#right-mouse .btn-load{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -127px -177px;
}

#right-mouse div.toolbar-item:hover:not(.disable) {
    background-color: #0088c2;
    color: #fff !important;
    /*border: 1px solid #1882ae;*/
}

#right-mouse div.toolbar-item:hover:not(.disable) .btn-add{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -1px -127px !important;
}

#right-mouse div.toolbar-item:hover:not(.disable) .btn-duplicate{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -976px -127px !important;
}

#right-mouse div.toolbar-item:hover:not(.disable) .btn-view{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -1602px -127px !important;
}

#right-mouse div.toolbar-item:hover:not(.disable) .btn-edit{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -77px -203px !important;
}

#right-mouse div.toolbar-item:hover:not(.disable) .btn-delete{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -1076px -127px !important;
}

#right-mouse div.toolbar-item:hover:not(.disable) .btn-load{
    background: url(../../Contents/Icons/common-icon.png) no-repeat -876px -127px !important;
}
